* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: url("../src/bg_cloud.svg") no-repeat center/cover;
  background-attachment: fixed;
}

.box {
  width: 500px;
  height: 500px;
  border: 25px solid #ccc;
  opacity: 0.5;
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 36px;
  font-family: "Noto Sans", sans-serif;
  font-weight: bolder;
  color: #ccc;
}
.box:first-child {
  margin-top: 100vh;
}
.box:nth-child(odd) {
  margin-right: auto;
}
.box:nth-child(even) {
  margin-left: auto;
}